.uploader{
	border: 2px solid black;
	background-color: #bfbfbf;
	width: 650px;
	height: 250px;
	position: absolute;
	top: 20%;
	left: 15%;
}
.support{
	border: 2px solid black;
	width: 650px;
	height: 190px;
	position: absolute;
	top: 50px;
	left: 15%;
}
.imgDonate{
	width: 190px;
	height: 190px;
	position: absolute;
	left: 0px;
}
.supportText{
	text-decoration: none;
	color: black;
	font-size: 35px;
	position: absolute;
	top: 60px;
	left: 200px;
}
a{
	font-size: 50px;
}